{% extends "changes/base.html" %}
{% load humanize %}
{% load range %}

{% block title %}Change Requests{% endblock %}

{% block content %}
{% for section in sections %}
{% with repo=section.content_object %}
    <h2>Change requests for <a href="{{ repo.html_url }}">{{ repo.name }} (branch: {{ repo.branch }})</a></h2>
    {% if repo.description %}
    <p>{{ repo.description }}</p>
    {% endif %}

    <ul class="changes">
    {% for change in section.cached_cs %}
    {% with pr=change.content_object %}
        <li>
            <div class="change_descr">
                <a href="{{ pr.html_url }}">
                    <h3>{% if pr.title %}{{ pr.title }} - {% endif %}#{{ pr.issue_id }}</h3>
                    {% if pr.description %}<p>{{ pr.description }}</p>{% endif %}
                </a>
            </div>
            <fieldset>
                <legend>Votes</legend>
                <table>
                <tbody>
                {% for priority, n in change.prefs.items %}
                    <tr>
                        <th>{{ priority | ordinal }} choice:</th>
                        <td>{{ n }} vote{{ n | pluralize }}</td>
                        <td><meter high='{{ section.threshold }}' max='{{ num_voters }}' value='{{ n }}'>{{ n }} vote{{ n | pluralize }}</meter></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </fieldset>
            <form>
                <fieldset>
                <legend>Your Preference</legend>
                {% for c in section.cached_cs %}
                    <input type="radio" name="pref-{{ change.id }}" id="pref-{{ change.id }}-{{ forloop.counter }}">
                    <label for="pref-{{ change.id }}-{{ forloop.counter }}">{{ forloop.counter | ordinal }} choice</label>
                {% endfor %}
                </fieldset>
            </form>
        </li>
    {% endwith %}
    {% endfor %}
    </ul>
{% endwith %}
{% endfor %}
{% endblock %}
